/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.dictionary-sync-status {
	width: 100%;
	min-height: 160px;
	resize: vertical;
	font-family: var(--font-monospace);
	font-size: var(--font-ui-small);
}
